*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}


header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile {
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url(../images/icon_menu.png);
    display: none;
}

nav.mobile ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 95px;
    border-bottom: 4px solid #eb2d2d ;
    z-index: 999;
    text-align: center;
    background-color: white;
}

nav.mobile li {
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

nav.mobile li a {
    color: #000;
    text-decoration: none;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 30px;
    text-transform: uppercase;
    font-style: italic;
}

header nav.desktop a {
    color: #000;
    text-decoration: none;
}

header nav.desktop a.active {
    color: #eb2d2d;
}

section.banner {
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url(../images/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    padding: 12px 30px;
    margin-top: 20px;
    width: 314px;
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-size: 23px;
    background-image: url(../images/box-text.png);
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    height: 60px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    height: 60px;
    position: relative;
    left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4) {
    width: 320px;
    height: 60px;
    font-size: 19px;
    background-image: url(../images/box-white-text.png);
    color: black;
    position: relative;
    left: -30px;
    font-style: italic;
}

section.veiculos-destaque {
    padding: 90px 2%;
}

.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
}

.line-titulo {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    
}

.ln1 {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background-color: #000;
}

.line-titulo h2 {
    position: relative;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img {
    background-image: url(../images/carro1.jpg);
    width: 100%;
    padding-top: 100%;
    border: 8px solid white;
    background-size: 100% 100%;
}

.vitrine-destaque:nth-of-type(2) .carro-img {
    background-image: url(../images/carro2.jpg);
}

.vitrine-destaque:nth-of-type(3) .carro-img {
    background-image: url(../images/carro3.jpg);
}

.vitrine-destaque h2 {
    padding-left: 8px;
    color: #000;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 13px;
    font-style: italic;
}

.btn1 {
    width: 150px;
    color: white;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
    display: block;
    line-height: 30px;
    text-align: center;
    background-color: #eb2d2d;
    text-decoration: none;
    border-bottom: 5px solid #b21e1e;
}

.vitrine-destaque a {
    margin: 8px;
    margin-top: 10px;
}

section.servicos-depoimentos {
    color: white;
    display: flex;
    
}

.servicos {
    background-color: #242424;
    width: 50%;
    text-align: right;
    padding: 90px 0;
}

.servicos-info {
    padding-right: 20%;
    display: inline-block;
    text-align: left;
}

.servicos-info h3 {
    font-size: 32px;
    font-weight: normal;
}

.servicos-info ul {
    display: inline-block;
    margin-top: 20px;
}

.servicos-info ul li {
    margin-left: 15px;
}

.servicos-info a {
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.depoimentos {
    background-color: #eb2d2d;
    width: 50%;
    padding: 90px 100px;
}

.depoimentos .depoimentos-info {
    margin-top: 19px;
}

.depoimentos h3 {
    font-size: 32px;
    font-weight: normal;
}

.depoimentos .depoimentos-info q {
    font-size: 22px;
}

.navigation {
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.arrows {
    float: left;
}

.navigation img {
    cursor: pointer;
    margin: 0 20px;
}

.nome-depoimento {
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contato .container {
    max-width: 800px;
    padding: 40px 20px;
}

.line-titulo h2 {
    margin-bottom: 40px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
}

.contato form .form-group {
    margin-bottom: 10px;
}

.contato form input:not(input[type=submit]), textarea {
    border: 1px solid #ccc;
}

.contato form input[type=text] {
    width: 100%;
    padding: 2px 10px;
}

.contato form input[name=email] {
    width: 49%;
    float: left;
    padding: 2px 10px;
    margin-right: 7px;
}

.contato form input[name=telefone] {
    width: 49%;
    float: left;
    padding: 2px 10px;
    margin-left: 8px;
}

.contato form textarea {
    width: 100%;
    height: 100px;
    padding: 2px 10px;
    margin-top: 10px;
    resize: none;
}

.contato form .form-group input[type=submit] {
    position: relative;
    left: calc(50% - 50px);
    width: 100px;
    border: 0;
}

/*Etilos da página de VENDA*/

section.venda {
    padding: 90px 0;
    min-height: 90%;
}

.content-venda {
    margin-top: 40px;
}

.sidebar {
    float: left;
    width: 30%;
}

.search1 {
    width: 90%;
}

.search1 h2 {
    font-size: 24px;
    color: #000;
    font-weight: normal;
}

.search1 .barra-preco {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

.pointer-barra {
    width: 26px;
    height: 26px;
    border-radius: 8px;
    position: absolute;
    top: -3px;
    left: calc(30% - 13px);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border: 1px solid #777;
    cursor: pointer;
}

.valor-presquisa {
    margin-top: 8px;
}

.valor-pesquisa p:nth-of-type(1) {
    float: left;
}

.valor-pesquisa p:nth-of-type(2) {
    float: right;
}

.search2 {
    margin-top: 40px;
}

.search2 h2 {
    font-size: 24px;
    color: #000;
    font-weight: normal;
}

.form-venda-wraper {
    margin-top: 10px;
}

.form-venda-wraper input {
    display: none;
}

.form-venda-wraper label {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 8px;
    height: 8px;
    display: none;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 5px;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle {
    display: block;
}

.form-venda-wraper span {
    padding: 0 10px;
    vertical-align: top;
    display: inline-block;
}

.vitrine-venda {
    float: left;
    width: 70%;
}

.vitrine-venda .vitrine-destaque {
    margin-top: 20px;
}

/*Página Veículo*/

section.venda-single {
    padding: 0 2%;
}

section.venda-single .container {
    padding: 40px 0;
    max-width: 1000px;
}

.info-veiculo {
    float: left;
    width: 60%;
}

.foto-destaque {
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.descricao-veiculo {
    float: left;
    width: 40%;
    padding: 20px;
}

.descricao-veiculo p {
    max-width: 360px;
    margin-top: 25px;
}

.descricao-veiculo a {
    margin-top: 25px;
}

.nav-galeria {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.nav-galeria-wraper {
    width: 200%;
} 

.mini-img {
    float: left;
    border: 7px solid white;
    background-position: center;
    background-size: cover;
    padding-top: calc(33.3% * (100 / 200) * 0.6);
    width: calc(33.3% * (100 / 200));
}

footer {
    padding: 40px 2%;
    background-color: #252525;
}

footer nav {
    float: left;
}

footer nav ul {
    list-style: none;
}

footer ul li {
     float: left;
     font-size: 19px;
     padding: 0 35px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer nav a.active {
    color: #eb2d2d;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
}

@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }
}

@media screen and (max-width: 1100px) {
    .servicos {
        text-align: center;
    }

    .servicos-info {
        text-align: left;
        padding-right: 0;
    }

    .servicos-info a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}


@media screen and (max-width: 850px) {
    .servicos-info a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }

    .contato form input[name=email] {
        width: 100%;
        float: none;
        padding: 2px 10px;
        margin-right: 0;
    }

    .contato form input[name=telefone] {
        width: 100%;
        float: none;
        padding: 2px 10px;
        margin-left: 0;
    }
}

@media screen and  (max-width: 768px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    section.servicos-depoimentos {
        flex-direction: column;
    }

    .servicos, .depoimentos {
        padding: 80px 4%;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .search1 {
        display: inline-block;
    }

    .search2 {
        text-align: left;
        display: inline-block;
    }

    .vitrine-venda {
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    footer nav {
        display: none;
    }

    footer p {
        float: none;
    }

    
    
}

@media screen and (max-width: 580px) {
    .text-banner {
        padding: 30px;
    }
    
    .text-banner-single {
        font-size: 18px;
    }

    .line-titulo h2 {
        font-size: 23px;
    }

    .veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    .vitrine-destaque {
        display: inline-block;
        float: none;
        width: 80%;
        margin-top: 20px;
    }

    .vitrine-destaque a {
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .vitrine-destaque {
        width: 100%;
    }
}